# Core LangChain
langchain
langchain-community
langchain-core
langchain-text-splitters

# LLM & Embeddings
langchain-groq
langchain-huggingface
langchain-pinecone

# ML / Reranking
sentence-transformers
transformers
torch

# Vector DB
pinecone

# BM25 Keyword Search
rank_bm25

# Utilities
python-dotenv
tiktoken
numpy

# Web UI
streamlit
